{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 7"]
        }
      }
    ],
    "react","es2015","stage-1"
  ],
  "plugins": [
    "transform-runtime",
    "transform-es2015-classes"
  ]
}